@page "/"

<LeafletMap @bind-Markers="Markers" />
<input type="number" @bind-value="Latitude" />
<input type="number" @bind-value="Longitude" />
<button class="btn btn-primary" @onclick="AddMarker">Add Marker</button>


@code {
    private List<MarkerModel>? Markers { get; set; }
    public double Latitude { get; set; }
    public double Longitude { get; set; }

    protected override void OnInitialized()
    {
        Markers = new List<MarkerModel>();
    }

    private void AddMarker()
    {
        Console.WriteLine($"Adding marker at {Latitude}, {Longitude}");
        Markers.Add(MarkerModel.Create("Empty", Latitude, Longitude));
    }
}